doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
  body
    block content
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script.
      var fetchAutocomplete = function (request, response) {
        $.get("http://localhost:3097/api/autocomplete?event=" + request.term, function (data) {
          response(data);
        })
      };
      $( "#autocomplete" ).autocomplete({
        minLength: 2,
        source: fetchAutocomplete
      });
